@font-face {
  font-family: "SomeFamily";
  src: url("../fonts/DancingScript/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 800; /*Bold*/
  font-style: normal;
 }

 @font-face {
  font-family: "SomeFamily";
  src: url("../fonts/DancingScript/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 800; /*Bold*/
  font-style: italic;
 }

 @font-face {
  font-family: "SomeFamily";
  src: url("../fonts/DancingScript/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 300; /*Light*/
  font-style: normal;
 }

 @font-face {
  font-family: "SomeFamily";
  src: url("../fonts/DancingScript/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: 400; /*Regular*/
  font-style: normal;
 }