@import "./reset.css";
@import "./fonts.css";
@import "./screen_styles.css" screen;
@import "./print_styles.css" print;

:root{
  font-size: 18px;
}

h1{
  font-family: "SomeFamily";
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
h2{
  font-family: "SomeFamily";
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
}
h3{
  font-family: "SomeFamily";
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
}
h4{
  font-family: "SomeFamily";
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
}
h5{
  font-family: "SomeFamily";
  font-weight: 300;
  font-style: italic;
  font-size: 1.5rem;
}

header{
  margin-bottom: 10px;
}

header > nav > ul{
  display: flex;
  justify-content: space-evenly;
}